<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SnitzProvider.Properties.Settings.NJT_MemebersConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Documents and Settings\JamesCurran\My Documents\Visual Studio\Projects\SnitzMemberRole\Database\NJT_Memebers.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="SnitzProvider.Properties.Settings.C__DOCUMENTS_AND_SETTINGS_JAMESCURRAN_MY_DOCUMENTS_VISUAL_STUDIO_PROJECTS_SNITZMEMBERROLE_DATABASE_NJT_MEMEBERS_MDFConne"
            connectionString="Data Source=NANAK\SQLEXPRESS;Initial Catalog=&quot;C:\DOCUMENTS AND SETTINGS\JAMESCURRAN\MY DOCUMENTS\VISUAL STUDIO\PROJECTS\SNITZMEMBERROLE\DATABASE\NJT_MEMEBERS.MDF&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SnitzProvider.Properties.Settings.SnitzProviderTestConnectionString"
            connectionString="Data Source=NANAK\SQLEXPRESS;Initial Catalog=SnitzProviderTest;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SnitzProvider.Properties.Settings.NJTheaterConnectionString"
            connectionString="Data Source=NANAK\SQLEXPRESS;Initial Catalog=NJTheater;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SnitzProvider.Properties.Settings.C__DOCUMENTS_AND_SETTINGS_JAMESCURRAN_MY_DOCUMENTS_VISUAL_STUDIO_PROJECTS_SNITZMEMBERROLE_DATABASE_NJT_MEMEBERS_MDFConne"
            connectionString="Data Source=NANAK\SQLEXPRESS;Initial Catalog=&quot;C:\DOCUMENTS AND SETTINGS\JAMESCURRAN\MY DOCUMENTS\VISUAL STUDIO\PROJECTS\SNITZMEMBERROLE\DATABASE\NJT_MEMEBERS.MDF&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SnitzProvider.Properties.Settings.SnitzProviderTestConnectionString"
            connectionString="Data Source=NANAK\SQLEXPRESS;Initial Catalog=SnitzProviderTest;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
