USE [SnitzProviderTest]
GO
/****** Object:  Table [dbo].[FORUM_ROLES]    Script Date: 06/12/2007 16:47:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FORUM_ROLES](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](25) NOT NULL,
	[Description] [nvarchar](250) NULL,
	[ModUser] [nvarchar](50) NOT NULL,
	[ModTime] [datetime] NOT NULL 
        CONSTRAINT [DF_FORUM_ROLES_ModTime]  DEFAULT (getdate()),
 CONSTRAINT [PK_FORUM_ROLES] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

SET XACT_ABORT, ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS, NOCOUNT ON
GO
BEGIN TRANSACTION

-- Add rows to [dbo].[FORUM_ROLES]
SET IDENTITY_INSERT [dbo].[FORUM_ROLES] ON
INSERT INTO [dbo].[FORUM_ROLES] ([RoleID], [Name], [Description], [ModUser]) VALUES (1, N'User', N'Standard User', N'intrinsic')
INSERT INTO [dbo].[FORUM_ROLES] ([RoleID], [Name], [Description], [ModUser]) VALUES (2, N'Moderator', N'Forum Moderator', N'intrinsic')
INSERT INTO [dbo].[FORUM_ROLES] ([RoleID], [Name], [Description], [ModUser]) VALUES (3, N'Administrator', N'System Administrator', N'intrinsic')
SET IDENTITY_INSERT [dbo].[FORUM_ROLES] OFF

COMMIT TRANSACTION




/****** Object:  Table [dbo].[FORUM_USERSINROLES]    Script Date: 06/12/2007 14:26:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FORUM_USERSINROLES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MEMBER_ID] [int] NOT NULL,
	[ROLEID] [int] NOT NULL,
	[ModUser] [nvarchar](50) NOT NULL,
	[ModTime] [datetime] NOT NULL CONSTRAINT [DF_FORUM_USERSINROLES_ModTime]  DEFAULT (getdate()),
 CONSTRAINT [PK_FORUM_USERSINROLES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[FORUM_USERSINROLES]  WITH CHECK ADD  CONSTRAINT [FK_FORUM_USERSINROLES_FORUM_MEMBERS] FOREIGN KEY([MEMBER_ID])
REFERENCES [dbo].[FORUM_MEMBERS] ([MEMBER_ID])
GO
ALTER TABLE [dbo].[FORUM_USERSINROLES] CHECK CONSTRAINT [FK_FORUM_USERSINROLES_FORUM_MEMBERS]
GO
ALTER TABLE [dbo].[FORUM_USERSINROLES]  WITH CHECK ADD  CONSTRAINT [FK_FORUM_USERSINROLES_FORUM_ROLES] FOREIGN KEY([ROLEID])
REFERENCES [dbo].[FORUM_ROLES] ([RoleID])
GO
ALTER TABLE [dbo].[FORUM_USERSINROLES] CHECK CONSTRAINT [FK_FORUM_USERSINROLES_FORUM_ROLES]
GO
ALTER TABLE [dbo].[FORUM_USERSINROLES]  WITH CHECK ADD  CONSTRAINT [CK_FORUM_USERSINROLES] CHECK  (([ROLEID]>(3)))
GO
ALTER TABLE [dbo].[FORUM_USERSINROLES] CHECK CONSTRAINT [CK_FORUM_USERSINROLES]

